@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.innerbox {
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 80px; 
    height: 80px;
    border-radius: 100px;
}

span {
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    margin-top: 10px;
}

.address {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    font-size: 14px;
}

.role {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 14px;
}

a {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    width: 250px;
    font-weight: 700;
    font-size: 14px;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 2px 25px rgba(187, 255, 0, 0.5);
}
